body {
    color: black;
}

.nav-item a {
    color: black;
}

.nav {
    --bs-nav-link-hover-color: #d5ba77!important;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fs-4 {
    position: relative;
    color: white;
} 

.logo {
    position: absolute;
}

.logo2 {
    width: 150px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quote {
    margin-top: 2%;
    margin-left: 12%;
}

.author {
    margin-left: 43%;
    text-decoration: bold;
}

.pic {
    position: relative;
    margin-top: 10%;
}

.pic1 {
    max-width: 355px;
    height: auto;
}

area:hover:after {
    display: block;
    background-color: rgba(72, 0, 253, 0.2);
    content: ' ';
  }

#rect::after {
    position: absolute;
    top: 0;
    left: 55px;
    width: 102px;
    height: 126px;
  }


@media (min-width: 576px) and (max-width: 767px) {
    .logo {
        width: 100px;
        position: absolute;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 120px;
        margin-left: 2%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        width: 140px;
        margin-left: 2%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .logo {
        width: 140px;
        margin-left: 2%;
    }
}

@media (min-width: 1400px) {
    .logo {
        width: 150px;
        margin-left: 2%;
    }
}




