body {
    color: black;
}

.nav-item a {
    color: black;
}

.nav {
    --bs-nav-link-hover-color: #d5ba77!important;
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}


